<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Application</title>
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="landing-page" style="height: 100%;">
        <div id="app-header">
            <h1>Koggo Rental</h1>
            <p lang="ka">მაიტა მამახნეინე</p>
        </div>
        <div>
            <p>გჭირდება ევაკუატორი, ამწე, სატვირთო ან ყველაფერი ერთად? - მოგვენდე და გაიმარტივე ცხოვრება</p>
        </div>
        <div id="cta-button">
            <a class="cta-btn" asp-controller="UserServices" asp-action="Index">რა შემიძლია ვიქირაო?</a>
        </div>
        <div id="app-images">
            <img src="~/images/cement.png" alt="Image 1" class="app-image" style="width: 400px; height: 300px;">
            <img src="~/images/euacuator.png" alt="Image 2" class="app-image" style="width: 400px; height: 300px;">
            <img src="~/images/tractor.png" alt="Image 3" class="app-image" style="width: 400px; height: 300px;">
        </div>
    </div>
</body>
</html>
