@model Koggo.Client.Models.Home.AvailabilitiesModel

<!DOCTYPE html>
<html>
<head>
    <title>Date and Time List</title>
</head>
<body>
    <h1>Date and Time List</h1>

    <ul>
        @foreach (var dateTime in Model.Availabilities)
        {
            <li>@dateTime.ToString("yyyy-MM-dd HH:mm:ss")</li>
        }
    </ul>
</body>
</html>
