@model BaseControllerModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Application</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
<nav>
    <ul>
        <li>
            <a data-content="services" class="active" asp-controller="Home" asp-action="Services">Services</a>
        </li>
        <li>
            <a href="#" data-content="orders">Orders</a>
        </li>
        <li>
            <a data-content="Reservations" class="active" asp-controller="Reservation" asp-action="Index">Reservations</a>
        </li>
        @if (Model.TokenIsValid)
        {
            <li class="auth-link">
                <a id="login-link" asp-controller="Home" asp-action="LogOut">LogOut</a>
            </li>
        }
        else
        {
            <li class="auth-link">
                <a id="login-link" asp-controller="Home" asp-action="Login">Login</a>
            </li>
            <li class="auth-link">
                <a id="register-link" asp-controller="Home" asp-action="Registration">Register</a>
            </li>
        }
    </ul>
</nav>
    @RenderBody()
<footer>
    <!-- Your footer content -->
</footer>
<script src="script.js"></script>
</body>
</html>